/* ALGEMENE / HERO STYLING */

body {
    padding: 0;
    margin: 0;

    --bg: black;
    --text: white;
    --accent: rgb(205, 93, 19);
    --delay: 2s;

    font-family: "Revx Neue", sans-serif;
    color: var(--text);
    background-color: var(--bg);

    transition: background-color .7s linear;
}

section {
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

li {
    list-style: none;
    margin: .5vw;
}

.button {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    padding: .4vw 1vw .4vw 1vw;

    &&::after {
    content: "Bekijk project";
}
}

/* HERO */

.left {
    max-width: 60ch;
    margin-right: auto;
    text-align: left;
    margin-left: 15vw;
}

.right {
    max-width: 60ch;
    margin-left: auto;
    margin-right: 15vw;
    text-align: left;
}

.hero {
    display: flex;

    position: relative;
    top: 0;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 15vh;

    background: var(--bg);
}

.heroText {
    display: block;
    z-index: 1;
}

.appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.textLeft,
.textRight {
    position: absolute;

    font-size: clamp(1.5rem, 2.3vw, 3.5rem);
    line-height: 1.1;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    overflow: hidden;
    white-space: nowrap;

    animation: typing var(--delay) steps(32, start);
}

.textLeft {
    left: 15%;
    top: 30%;
}

.textRight {
    right: 16%;
    top: 40%;

    animation-fill-mode: backwards;
    animation-delay: var(--delay);
}

.scrollIndicator {
    opacity: 0;
    padding: 1.5rem;
    transform:translateY(-6vw);

    writing-mode: sideways-lr;
    pointer-events: none;

    animation: fadeIn 1s ease-out 3s forwards;
}

.scrollText {
    --line-height: 5vh;

    display: block;
    position: relative;
}

.scrollText::before {
    content: "";
    position: absolute;

    width: 8px;
    height: 8px;
    border-radius: 50%;

    left: 50%;
    top: calc(100% + 20px + var(--line-height) + 8px);

    background: var(--accent);
    transform: translateX(-50%);

    animation: blink 1.5s ease-in-out 4s infinite;
}

.scrollText::after {
    content: "";
    position: absolute;

    width: 1px;
    height: var(--line-height);

    left: 50%;
    top: calc(100% + 20px);

    background: white;
    transform: translateX(-50%);
}

.button {
    border: 1px dashed var(--text);
    color: var(--text);

&&:hover {
    background-color: var(--text);
    color: var(--bg);
    transform: translateY(-3px);
    transition-duration: .3s;

}    
}

.line {
    position: relative;

&&::before {
    content: "";
    position: absolute;
    transform: translate(-10px, 0);
    width: 1px;
    height: 100%;
    background-color: var(--text);
}
}

.star-wrapper {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -2;
}

.star {
    position: absolute;
    top: var(--star-top);
    left: var(--star-left);
    width: var(--star-size);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;

    filter:
      drop-shadow(0 0 calc(var(--star-size) * 0.5) var(--star-color))
      drop-shadow(0 0 calc(var(--star-size) * 2) white);

    mix-blend-mode: hard-light;
}

/* 3D */

#container3D {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
}

#container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    z-index: -1;

    animation: blur 1.5s ease-in 2s;
    animation-fill-mode: forwards;
}

/* HACKATHON STYLING */

/* SPRINT0 */

/* API */

/* BROWSER TECH */

/* CSS */

/* HCD */

/* MEESTERPROEF */

/* ANIMATIONS */

@keyframes appearDisappear {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-5rem);
    }
}

@keyframes typing {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes openText {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blur {
    from {
        filter: blur(0);
    }

    to {
        filter: blur(2px);
    }
}

/* FONT */

@font-face {
    font-family: "Revx Neue";
    src: url("/Assets/Revx Neue Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Bronnen
https://chatgpt.com/c/6a249690-5108-83eb-b4d5-b941f6e0142e
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/filter-function/blur
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/animation
https://stackoverflow.com/questions/12991164/maintaining-the-final-state-at-end-of-a-css-animation
https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Flexible_box_layout/Aligning_items
https://chatgpt.com/c/6a271dbf-4ed0-83ed-afcd-60a49b00522e
Sterren achtergrond uit Hackathon project
*/